{% extends 'base.html' %}

{% block content %}
            <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">

                                        <form class="custom-validation" action="" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label>Area of Interest</label>
                                                <input type="text" name="aoi" class="form-control" required placeholder="Enter Your Name"/>
                                            </div>
                                            <div class="form-group">
                                                <label>DOB</label>
                                                <div>
                                                    <input type="date" name="dob"
                                                            class="form-control" required
                                                            placeholder="Enter DOB"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Age</label>
                                                <div>
                                                    <input data-parsley-type="number" type="text" name="age"
                                                            class="form-control" required
                                                            placeholder="Enter Age"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <div>
                                                    <input data-parsley-type="number" type="text" name="phone"
                                                            class="form-control" required
                                                            placeholder="Enter Phone Number"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>State</label>
                                                <div>
                                                    <input data-parsley-type="alphanum" type="text" name="state"
                                                            class="form-control" required 
                                                            placeholder="Enter state"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>City</label>
                                                <div>
                                                    <input data-parsley-type="alphanum" type="text"
                                                            class="form-control" required name="city"
                                                            placeholder="Enter city"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Resume - (You can't edit resume again)</label>
                                                <div>
                                                    <input type="file"
                                                            class="form-control" name="file" id="file" data-parsley-file-size="35" accept=".doc,.docx,.pdf"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Carrer Objective</label>
                                                <div>
                                                    <textarea required name="co" class="form-control" rows="5" placeholder="Enter Objective"></textarea>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <p class="text-warning mr-3">Note: File size must be less than 800 KB</p>
                                                <p><a class="text-info" href="https://pdfcompressor.com/">Compress files here</a></p>
                                            </div>
                                         <div class="form-group mb-0">
                                                <div>
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                                        Submit
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary waves-effect">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
    
            </div> <!-- end row -->    

{% endblock %}