{% extends 'base.html' %}

{% block content %}

        <div class="topnav mt-0 position-static">
                <nav class="navbar navbar-light navbar-expand topnav-menu">
                    <a href="#" class="navbar-brand">OnCV</a>
                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('home') }}">
                                    <i class="ion ion-md-home mr-2"></i>Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">
                                    <i class="ion ion-md-log-in mr-2"></i>Login
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">
                                    <i class="ion ion-md-log-out mr-2"></i>Logout
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <section class="my-5 mb-3">
            <div class="container-alt container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="home-wrapper">
                            <div class="maintenance-img">
                                <img src="{{ url_for( 'static', filename='assets/images/maintenance.png') }}" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <h3 class="mt-4">OnCV</h3>
                            <p>Create Your Resume or CV online</p>

                            <div class="row">
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card directory-card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{ url_for( 'static', filename='user/images/avatar.jpg') }}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                                <div class="media-body ml-3">
                                                    <h5 class="text-primary font-size-18 mt-0 mb-1">Jerome A. Hebert</h5>
                                                    <p class="font-size-12 mb-2">Creative Director</p>
                                                    <p class="mb-0">Jerome@veltrix.com</p>
                                                </div>
                                                <ul class="list-unstyled social-links float-right">
                                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                                </ul>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        © <script>document.write(new Date().getFullYear())</script> Socalled<span class="d-none d-sm-inline-block"> -Made with <i class="mdi mdi-heart text-danger"></i> by Socalled.</span>
                    </div>
                </div>
            </div>
        </footer>

        {% endblock %}